.main{
	height: calc(100vh - 98px);
	width: 100%;
	&.panel{
		display: block;
	}
}
.main__container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 60px;
	height: 100%;
	position: relative;
	padding: 0 30px;
	& img{
		width: 25%;
		@media screen and (max-width:640px) {
			width: 45%;
		}
	}
	& p{
		font-size: 24px;
		font-style: normal;
		font-weight: 300;
		line-height: 110%;
		color: $--green;
	}
	& .down-arrow{
		position: absolute;
		bottom: 60px;
		width: 46px;
		height: 65px;
	}
}

.animate-logo{
	max-width: 531px;
	width: 100%;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	display: flex;
	align-items: end;

	@media screen and (max-width:767px) {
		& svg{
			&:nth-of-type(1){
				width: 24%;
			}
			&:nth-of-type(2){
				width: 15%;
			}
			&:nth-of-type(3){
				width: 9.8%;
			}
			&:nth-of-type(4){
				width: 15%;
			}
			&:nth-of-type(5){
				width: 17%;
			}
			&:nth-of-type(6){
				width: 16%;
			}
		}
	}
	& svg{
		height: auto;
	}
	& svg:not([class]){
		animation-duration: 1s;
		animation-fill-mode: forwards;
		&:first-child{
			transform: translateX(45px) scale(1);
			.animate & {
				animation-name: animateLetters;	
			}
		}
		&:nth-of-type(2){
			transform: translateX(35px);
			.animate &{
			animation-name: animateLetters;	
	}
		}
		&:nth-of-type(3){
			transform: translateX(16px);
			.animate &{
			animation-name: animateLetters;	
	}
			
		}
		&:nth-of-type(4){
			position: relative;
			transform: translateX(16px);
			.animate &{
				animation-name: animateLetters;	
	}
			z-index: 2;
		}
	}
	&.animate {
		& svg:not([class]){
			
			&:first-child{
					animation-name: animateLetters;	
				
			}
			&:nth-of-type(2){
				animation-name: animateLetters;	
		
			}
			&:nth-of-type(3){
				animation-name: animateLetters;	
		
			}
			&:nth-of-type(4){
					animation-name: animateLetters;	
		
				z-index: 2;
			}
		}
	}
}
.anime-circle{
	transform: translateX(-10px);
	position: relative;
	z-index: 1;
	// transition: .3s ease-in-out;
	& path{
		animation-duration: 0.5s;
    animation-fill-mode: forwards;
		.animate &{
			animation-name: fillColorChange;
	}
	}
	
}
.anime-ch{
	transform: translateX(-24px);
	position: relative;
	z-index: 0;
	.animate &{
		animation-name: scaleAnimation;
	}
}


@keyframes animateLetters {
	
	to {
		transform: translateX(0) scale(1);
	}
}
@keyframes scaleAnimation{
	from{
		transform: scale(.9) ;
	}
	to {
		transform: scale(1);
	}
}

@keyframes fillColorChange {
	0% {
		fill: #FFFFFF;
		// transform: scale(.9) 
	}
	100% {
		fill: #00E600;
		// transform: scale(1)
	}
}

// @keyframes animateLogoWrap {
//   0% {
//     transform: translate(-19%, 0);
//   }
// 	// 50%{
// 	// 	transform: translate(-15%, 0) ;
// 	// }
//   100% {
//     transform: translate(0, 0);
//   }
// }