.preload{
	top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: $--black;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	animation-duration: .8s;
	 animation-fill-mode: forwards;
	 position: fixed;
	 cursor: pointer;
}
.preload.remove{
	animation-name: removeOpacityPreload;
}
.preload-switch{
	position: relative;
	display: flex;
	align-items: center;
    margin-top: 2%;
	background-color: $--fills-secondary;
	border-radius: 348.148px;
	padding: 7px 77px 7px 7px;
	z-index: 1;
	max-width: 178px;
	width: 100%;
	animation-duration: .7s;
	 animation-fill-mode: forwards;
	 transform: translateX(46%);
	 overflow: hidden;
    touch-action: pan-x;
	 .remove &{
		animation-name: changeSwitchPadding;
	 } 
	 @media screen and (max-width:767px){
		padding: 4px 45px 4px 4px;
		max-width: 138px;
		margin-top: 6%;
		transform: translateX(42%);
		.remove &{
			animation-name: changeSwitchPaddingMini;
			animation-name: none;
		 }
	 }
	 @media screen and (max-width:550px){
		max-width: 104px;
	 }
}

.white-circle{
	display: block;
	border: none;
	background-color: $--white;
	border-radius: 50%;
	width: 94px;
	height: 94px;
	z-index: inherit;
	position: relative;
	
	@media screen and (max-width:640px) {
		height: auto;
		aspect-ratio: 1;
	 }
	 
}
@keyframes removeOpacityPreload {
	0%{
		opacity: 1;
		z-index: 50;
	}
	// 50%{
	// 	opacity: .9;
	// 	z-index: 50;
	// }
	100%{
		opacity: 0;
		z-index: 0;
	}
}
@keyframes changeSwitchPadding {
	0%{
		padding-left: 7px;
		padding-right: 77px;
	}
	100%{
		padding-left: 77px;
		padding-right: 7px;
	}
}
@keyframes changeSwitchPaddingMini {
	0%{
		padding-left: 4px;
		padding-right: 45px;
	}
	100%{
		padding-left: 45px;
		padding-right: 4px;
	}
}
