.slider{
	// height: 100vh;
	overflow: hidden;
	// overscroll-behavior: none;
}
.slider-wrap{
	// display: flex;
  // -ms-flex-wrap: nowrap;
  // flex-wrap: nowrap;
}
.full-slide{
	// height: 100vh;
	// width: 100%;

}
.slider-block{
	display: flex;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	& img{
		width: 100%;
		flex-grow: 1;
		height: 100%;
		object-fit: cover;
	}
}
.rigth,
.left{
	width: 50%;
height: 100%;
		& img{
			max-width: 100%;
		}
}
