.successes{
	padding: 200px 0 0 0;
}
.successes__title{
	margin-bottom: 200px;
	padding: 0 10px;
}

.process-wrap {
  overflow: hidden;
	padding-bottom: 200px;
}
.process {
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.captured__item{
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	aspect-ratio: 426 / 682;
	height: 90vh;
	width:33%;
		& img{
			aspect-ratio: 426 / 427;
			flex-grow: 1;
			object-fit: cover;
			object-position: 100% 0%;
			height: 45vh;
			
		}
		
}
.captured__item__content{
	height: 100%;
	flex-grow: 1;
	height: 45vh;
}
