.successes{
	padding: 200px 0;
}
.successes__title{
	margin-bottom: 200px;
	padding: 0 10px;
}
.captured-scroll{
	display: flex;
	overflow: hidden;
	overflow-x: auto;
	@media screen and (max-width:767px) {
		flex-direction: column;
	}
}
.captured__item{
	min-width: calc(100% / 3);
	display: flex;
	flex-direction: column;
}
