
.full{
overflow: hidden;
}
.full-scroll{
	display: flex;
	flex-wrap: nowrap;
	height: 100vh;
}
.full__item{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;
	& img{
		object-fit: cover;
		max-height: 85%;
		height: 100%;
	}
	& p{
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
	}

}
.full-scroll-length{
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	& div{
		background: #1F305E;
		transition: .3s ease;
		opacity: 1;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		.visible-slide &{
			background-color: $--green;
		}
	}
}

