/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul[class],
ol[class] {
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Light.ttf") format("ttf"), url("../fonts/Satoshi-Light.woff") format("woff"), url("../fonts/Satoshi-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular") format("ttf"), url("../fonts/Satoshi-Regular.woff") format("woff"), url("../fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Medium.ttf") format("ttf"), url("../fonts/Satoshi-Medium.woff") format("woff"), url("../fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
}
html:has(.preload) {
  overflow: hidden;
}

html:has(.preload).addscroll {
  overflow: visible;
}

html:has(.preload).addscroll.header-active {
  overflow: hidden;
}

html, body {
  height: auto;
}

.container {
  max-width: 1280px;
  padding: 0 30px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.container-s {
  max-width: 1060px;
  padding: 0 30px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

h2 {
  color: #1F305E;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media screen and (max-width: 640px) {
  h2 {
    font-size: 55px;
  }
}
@media screen and (max-width: 375px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
}

p {
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 200%;
}

body {
  font-family: "Satoshi";
  font-weight: 300;
  color: #474646;
  overflow-x: hidden;
}

.mini-content {
  max-width: 796px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mini-content p {
  font-size: 20px;
  font-style: normal;
  font-weight: 325;
  line-height: 200%;
  text-align: justify;
  margin-bottom: 30px;
}

.under__link {
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-size: 24px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  text-align: center;
  color: #1F305E;
}
.under__link:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #00E600;
}

.item__content {
  padding: 30px 20px 0 20px;
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.item__content p {
  margin-bottom: 20px;
}
.item__content p:nth-last-of-type(1) {
  margin-bottom: 0;
}
.item__content a {
  margin: 0 auto;
}

.main {
  background-color: #fff;
}

.content {
  position: relative;
}

.preload {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #101010;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  position: fixed;
  cursor: pointer;
}

.preload.remove {
  animation-name: removeOpacityPreload;
}

.preload-switch {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 2%;
  background-color: rgba(120, 120, 128, 0.32);
  border-radius: 348.148px;
  padding: 7px 77px 7px 7px;
  z-index: 1;
  max-width: 178px;
  width: 100%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: translateX(46%);
}
.remove .preload-switch {
  animation-name: changeSwitchPadding;
}
@media screen and (max-width: 640px) {
  .preload-switch {
    padding: 4px 45px 4px 4px;
    max-width: 104px;
  }
  .remove .preload-switch {
    animation-name: changeSwitchPaddingMini;
  }
}

.white-circle {
  display: block;
  border: none;
  background-color: #ffffff;
  border-radius: 50%;
  width: 94px;
  height: 94px;
  z-index: inherit;
  position: relative;
}
@media screen and (max-width: 640px) {
  .white-circle {
    height: auto;
    aspect-ratio: 1;
  }
}

@keyframes removeOpacityPreload {
  0% {
    opacity: 1;
    z-index: 50;
  }
  50% {
    opacity: 0.5;
    z-index: 50;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes changeSwitchPadding {
  0% {
    padding-left: 7px;
    padding-right: 77px;
  }
  100% {
    padding-left: 77px;
    padding-right: 7px;
  }
}
@keyframes changeSwitchPaddingMini {
  0% {
    padding-left: 4px;
    padding-right: 45px;
  }
  100% {
    padding-left: 45px;
    padding-right: 4px;
  }
}
.header {
  position: fixed;
  width: 100%;
  z-index: 6;
}
.header.fixed-header-nav {
  background-color: #fff;
  top: 0;
  left: 0;
  position: fixed;
  visibility: visible;
  display: block;
  width: 100%;
  border-bottom: 3px solid #00E600;
  z-index: 120;
  transition: 0.3s ease-in-out;
}
.header.fixed-header-nav-half {
  transition: 0.3s ease-in-out;
  top: -80px;
  position: fixed;
  visibility: visible;
  background: transparent;
  border-bottom: 3px solid #00E600;
}
.header-active .header.fixed-header-nav-half {
  top: 0;
  background-color: #ffffff;
}
.header-active .header.fixed-header-nav-half .burger {
  opacity: 1;
  animation-name: burgerOpacity !important;
}

.header__container {
  padding: 30px 10px 34px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 1px solid transparent;
}

.burger {
  width: 38px;
  display: flex;
  height: 34px;
  gap: 8px;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  margin-left: auto;
  opacity: 0;
}
.fixed-header-nav .burger {
  opacity: 1;
}
.fixed-header-nav-half .burger {
  opacity: 0;
}
.burger span {
  height: 8px;
  width: 100%;
  background-color: #00E600;
  transition: 0.3s ease-in-out;
}
.header-active .burger span:nth-of-type(2) {
  opacity: 0;
}
.header-active .burger span:nth-of-type(1) {
  transform: translate(-1px, 15px) scale(1.01) rotate(45deg);
}
.header-active .burger span:nth-of-type(3) {
  transform: translate(-1px, -12px) scale(1.01) rotate(-45deg);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 197px;
  width: 100%;
  height: 34px;
  transition: 0.5s ease-in-out;
}
.logo.hidden-logo {
  visibility: hidden;
  opacity: 0;
}
.fixed-header-nav .logo.hidden-logo {
  visibility: visible;
  opacity: 1;
}

.header-active .header-nav {
  transform: translateX(0%);
}
.header-active header {
  background-color: #fff;
}

.header-nav {
  position: fixed;
  top: 85px;
  left: 0;
  background-color: #ffffff;
  z-index: 50;
  width: 100%;
  height: calc(100vh - 85px);
  overflow: hidden;
  overflow-y: auto;
  transition: 0.3s ease-in-out;
  transform: translateX(-100%);
  display: flex;
  align-items: start;
  justify-content: center;
}
@media screen and (max-width: 1023px) {
  .header-nav {
    align-items: center;
  }
}
.header-nav nav ul {
  display: flex;
  flex-direction: column;
  gap: 0px;
  text-align: center;
  align-items: center;
  padding: 0 40px;
}
@media screen and (max-width: 1023px) {
  .header-nav nav ul {
    gap: 34px;
  }
}
@media screen and (max-width: 767px) {
  .header-nav nav ul {
    gap: 20px;
  }
}
.header-nav nav ul li .header__socials {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.header-nav nav ul li .header__socialssvg {
  max-width: 86px;
  max-height: 86px;
  width: 100%;
  height: 100%;
}
.header-nav nav ul li .header__socials a:after {
  content: none;
}
.header-nav nav ul li a {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 200%;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  color: #1F305E;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 1023px) {
  .header-nav nav ul li a {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    text-decoration-line: underline;
    text-transform: uppercase;
    white-space: wrap;
  }
}
.header-nav nav ul li a:after {
  content: "";
  width: 0%;
  background-color: #1F305E;
  height: 4px;
  transition: 0.3s ease-in-out;
}
.header-nav nav ul li a:hover {
  color: #00E600;
}
.header-nav nav ul li a:hover:after {
  width: 100%;
}

@keyframes burgerOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes removeBurgerOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.main {
  height: calc(100vh - 98px);
  width: 100%;
}
.main.panel {
  display: block;
}

.main__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  height: 100%;
  position: relative;
  padding: 0 30px;
}
.main__container img {
  width: 25%;
}
@media screen and (max-width: 640px) {
  .main__container img {
    width: 45%;
  }
}
.main__container p {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%;
  color: #00E600;
}
.main__container .down-arrow {
  position: absolute;
  bottom: 60px;
  width: 46px;
  height: 65px;
}

.animate-logo {
  max-width: 531px;
  width: 100%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: end;
}
@media screen and (max-width: 767px) {
  .animate-logo svg:nth-of-type(1) {
    width: 24%;
  }
  .animate-logo svg:nth-of-type(2) {
    width: 15%;
  }
  .animate-logo svg:nth-of-type(3) {
    width: 9.8%;
  }
  .animate-logo svg:nth-of-type(4) {
    width: 15%;
  }
  .animate-logo svg:nth-of-type(5) {
    width: 17%;
  }
  .animate-logo svg:nth-of-type(6) {
    width: 16%;
  }
}
.animate-logo svg {
  height: auto;
}
.animate-logo svg:not([class]) {
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.animate-logo svg:not([class]):first-child {
  transform: translateX(45px) scale(1);
}
.animate .animate-logo svg:not([class]):first-child {
  animation-name: animateLetters;
}
.animate-logo svg:not([class]):nth-of-type(2) {
  transform: translateX(35px);
}
.animate .animate-logo svg:not([class]):nth-of-type(2) {
  animation-name: animateLetters;
}
.animate-logo svg:not([class]):nth-of-type(3) {
  transform: translateX(16px);
}
.animate .animate-logo svg:not([class]):nth-of-type(3) {
  animation-name: animateLetters;
}
.animate-logo svg:not([class]):nth-of-type(4) {
  position: relative;
  transform: translateX(16px);
  z-index: 2;
}
.animate .animate-logo svg:not([class]):nth-of-type(4) {
  animation-name: animateLetters;
}
.animate-logo.animate svg:not([class]):first-child {
  animation-name: animateLetters;
}
.animate-logo.animate svg:not([class]):nth-of-type(2) {
  animation-name: animateLetters;
}
.animate-logo.animate svg:not([class]):nth-of-type(3) {
  animation-name: animateLetters;
}
.animate-logo.animate svg:not([class]):nth-of-type(4) {
  animation-name: animateLetters;
  z-index: 2;
}

.anime-circle {
  transform: translateX(-10px);
  position: relative;
  z-index: 1;
}
.anime-circle path {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.animate .anime-circle path {
  animation-name: fillColorChange;
}

.anime-ch {
  transform: translateX(-24px);
  position: relative;
  z-index: 0;
}
.animate .anime-ch {
  animation-name: scaleAnimation;
}

@keyframes animateLetters {
  to {
    transform: translateX(0) scale(1);
  }
}
@keyframes scaleAnimation {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fillColorChange {
  0% {
    fill: #FFFFFF;
  }
  100% {
    fill: #00E600;
  }
}
.panel {
  height: 100vh;
  top: 0;
  overflow: hidden;
}
@media screen and (max-width: 640px) {
  .panel {
    display: none;
  }
}

.panels {
  display: none;
}
@media screen and (max-width: 640px) {
  .panels {
    display: block;
  }
  .panels img {
    width: 100%;
    flex-grow: 1;
    height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.slider-block {
  display: flex;
  height: 100%;
}
@media screen and (max-width: 640px) {
  .slider-block {
    flex-direction: column;
  }
}
.slider-block img {
  width: 100%;
  flex-grow: 1;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 640px) {
  .slider-block img {
    height: 50vh;
  }
}

img.right,
img.left {
  width: 50%;
  height: auto;
}
@media screen and (max-width: 640px) {
  img.right,
  img.left {
    width: 100%;
    height: 50vh;
  }
}

@media screen and (max-width: 640px) {
  .section3 {
    display: none;
  }
}

.mission {
  padding: 200px 0;
  background: #FFF;
  box-shadow: 0px 0px 216.1px 76px rgba(0, 0, 0, 0.03) inset;
}

.mission__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-bottom: 60px;
}
.mission__title img {
  max-width: 163px;
  width: 100%;
  max-height: 120px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

.mission__content p {
  margin-bottom: 30px;
}
.mission__content p:nth-last-of-type(1) {
  margin-bottom: 60px;
}

.show {
  display: flex;
  justify-content: space-between;
  gap: 33px;
}
@media screen and (max-width: 767px) {
  .show {
    flex-wrap: wrap;
  }
}

.show__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: calc(25% - 16.5px);
}
@media screen and (max-width: 767px) {
  .show__item {
    width: calc(50% - 16.5px);
  }
}
.show__item span:nth-of-type(1) {
  color: #00E600;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
@media screen and (max-width: 767px) {
  .show__item span:nth-of-type(1) {
    font-size: 3rem;
  }
}
.show__item p {
  color: #1F305E;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  text-transform: uppercase;
  text-align: center;
}

.grid__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1023px) {
  .grid__wrap {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }
}

.grid__item {
  aspect-ratio: 386/386;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.grid__item img {
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 100%;
  border-radius: 50%;
}

.successes {
  padding: 200px 0 0 0;
}

.successes__title {
  margin-bottom: 200px;
  padding: 0 10px;
}

.process-wrap {
  overflow: hidden;
}

.process {
  display: flex;
  flex-wrap: nowrap;
}

.captured__item {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  aspect-ratio: 426/682;
  height: 90vh;
  width: 33%;
}
.captured__item img {
  aspect-ratio: 426/427;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 0%;
     object-position: 100% 0%;
  height: 45vh;
}

.captured__item__content {
  height: 100%;
  flex-grow: 1;
  height: 45vh;
}

.heart {
  padding: 0 0 200px 0;
  background-color: #ffffff;
}
.heart .under__link {
  margin: 0 auto;
  font-size: 40px;
}

.heart__title {
  padding: 200px 0;
}

.heart__title {
  max-width: 420px;
  padding-bottom: 200px;
}

.animate__heart {
  margin: 0 auto;
  max-width: 776px;
  width: 100%;
  max-height: 634.5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 200px;
}
.animate__heart img {
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  transition: 0.3s ease-in-out;
  opacity: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.animate__heart div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

div.first img:nth-of-type(1) {
  width: 27%;
}
div.first img:nth-of-type(2) {
  transform: translate(32px, -1px);
  width: 30%;
}

div.second img {
  transform: translate(10px, 2px);
}
div.second img:nth-of-type(1) {
  width: 41%;
}
div.second img:nth-of-type(2) {
  width: 42%;
}

div.three img:nth-of-type(1) {
  transform: translate(-17px, -8px);
  width: 29%;
}
div.three img:nth-of-type(2) {
  transform: translate(-22px, 7px);
  width: 32%;
}
div.three img:nth-of-type(3) {
  transform: translate(-22px, 7px);
  width: 23%;
}

div.forth {
  position: relative;
  justify-content: center;
}
div.forth img:nth-of-type(1) {
  transform: translate(-35%, -9%);
  width: 47%;
}
div.forth img:nth-of-type(2) {
  position: absolute;
  right: 0;
  top: 0%;
  transform: translate(6%, -35%);
  width: 28%;
}

div.fifth {
  justify-content: center;
}
div.fifth img:nth-of-type(1) {
  transform: translateX(-10%);
  width: 39%;
}
div.fifth img:nth-of-type(2) {
  transform: translateX(-20px);
  width: 17%;
}

div.sixth img {
  transform: translate(12px, 7px);
  width: 52%;
}

div.seventh img {
  transform: translateX(22px);
  width: 34%;
}

div.eigth img {
  transform: translate(5px, -12px);
  width: 13%;
}

@keyframes heartAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.footer {
  padding: 200px 0 0 0;
  background-color: #1F305E;
  color: #ffffff;
  overflow: hidden;
  margin-top: auto;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.footer__bottom {
  transform: translateY(10px);
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.footer__contact a {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__contact a[href^="mailto:"] {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.footer__socials svg {
  max-width: 108px;
  max-height: 108px;
  width: 100%;
  height: 100%;
}

.footer__adress {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__adress svg {
  width: 22px;
  height: 32px;
}

.full-video {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.full-video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.full-video p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 200%;
}

.video__wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.start-video {
  position: absolute;
  bottom: 40px;
  left: 40px;
  background: transparent;
  border-radius: 50%;
  max-width: 117px;
  max-height: 117px;
  aspect-ratio: 1;
  transition: 0.3s ease;
}
.start-video.play {
  bottom: 0;
  left: 0;
}
.start-video.play svg .playHover-circle {
  opacity: 1;
  fill: rgb(7, 7, 7);
}
.start-video.play:hover svg .playHover-circle {
  opacity: 1;
  fill: rgb(116, 116, 116);
}
.start-video:hover svg .playHover-circle {
  opacity: 1;
  fill: rgb(7, 7, 7);
}
.start-video svg {
  max-width: 100%;
  max-height: 100%;
  transition: 0.3s ease-in-out;
}
.start-video svg rect {
  transition: 0.3s ease-in-out;
}
.start-video svg .playHover-circle {
  opacity: 1;
  fill: rgb(255, 255, 255);
  opacity: 0.5;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 640px) {
  .full {
    height: calc(100vh - 98px);
  }
}

@media screen and (max-width: 640px) {
  .full-wrap {
    height: calc(100vh - 98px);
  }
}

.fullSlider {
  height: calc(100% - 98px);
}

.full__item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}
.full__item img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 100%;
  aspect-ratio: 1280/768;
  height: 100%;
  max-height: 80%;
}
.full__item p {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.fullSlider-pagination {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}

.swiper-pagination-bullets.fullSlider-pagination {
  transform: translate(-50%, 0%);
  left: 50%;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
  bottom: 60px;
}

.fullSlider-pagination .swiper-pagination-bullet {
  background: #1F305E;
  opacity: 1;
  width: 15px;
  height: 15px;
}

.fullSlider-pagination .swiper-pagination-bullet-active {
  background-color: #00E600;
}

.news {
  padding: 200px 0;
  background: #DFDFDF;
  box-shadow: 0px 0px 250px 63px rgba(0, 0, 0, 0.05) inset;
}

.news__container {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .news__container {
    overflow-x: auto;
  }
}

.news__item {
  display: flex;
  flex-direction: column;
  width: calc(33.3333333333% - 16.5px);
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 767px) {
  .news__item {
    min-width: 100%;
  }
}
.news__item img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1;
  border: 4px solid transparent;
}

.about {
  padding: 200px 0;
  position: relative;
  overflow: hidden;
  height: auto;
  background: linear-gradient(90deg, #E5E5E5 50%, #BABABA 100%);
}

.bg-circle {
  position: absolute;
  border-radius: 50%;
  aspect-ratio: 1;
  z-index: 1;
}

.bg-circle1 {
  width: 402px;
  height: auto;
  left: 27px;
  top: -13%;
  background: rgba(255, 255, 255, 0.23);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
}
@media screen and (max-width: 767px) {
  .bg-circle1 {
    width: 340px;
    height: 340px;
    top: -6%;
    left: 0;
    transform: translateX(34%);
  }
}

.bg-circle2 {
  width: 426px;
  height: auto;
  right: -20%;
  top: 0%;
  background: rgba(255, 255, 255, 0.23);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
}
@media screen and (max-width: 767px) {
  .bg-circle2 {
    display: none;
  }
}

.bg-circle3 {
  width: 680px;
  height: auto;
  right: 51px;
  bottom: -25%;
  background: rgba(255, 255, 255, 0.23);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
}
@media screen and (max-width: 767px) {
  .bg-circle3 {
    right: -47%;
    bottom: -16%;
  }
}

.bg-circle4 {
  width: 338px;
  height: 338px;
  background: #00E600;
  border-radius: 50%;
  transform: translate(-50%, 0%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
}
@media screen and (max-width: 767px) {
  .bg-circle4 {
    width: 232px;
    height: 232px;
  }
}

.about__top,
.about__bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.about__top h2,
.about__bottom h2 {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}
.about__top p,
.about__bottom p {
  text-align: center;
  margin: 0 auto;
  max-width: 796px;
}

.about__top {
  margin-bottom: -84px;
}

.about__bottom {
  align-items: center;
}

.circles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .circles {
    flex-direction: column;
  }
}

.circles__item {
  padding: 35px;
  border-radius: 50%;
  max-width: 334px;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.circles__item:nth-of-type(1), .circles__item:nth-last-of-type(1) {
  background: rgba(255, 255, 255, 0.73);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
}
.circles__item:nth-of-type(1) {
  transform: translateX(30px);
}
@media screen and (max-width: 767px) {
  .circles__item:nth-of-type(1) {
    transform: translate(0px, 30px);
  }
}
.circles__item:nth-last-of-type(1) {
  transform: translateX(-30px);
}
@media screen and (max-width: 767px) {
  .circles__item:nth-last-of-type(1) {
    transform: translate(0px, -30px);
  }
}
.circles__item p {
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

ul.about__list {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
  max-width: 796px;
  margin: 0 auto;
  counter-reset: custom-counter; /* Initialize the counter */
  padding: 0;
}
ul.about__list p {
  text-align: left;
  font-weight: 400;
}
ul.about__list p strong {
  color: #1F305E;
}
ul.about__list li {
  counter-increment: custom-counter; /* Increment the counter */
  position: relative;
  display: flex;
  gap: 15px;
  align-items: start;
}
ul.about__list li:before {
  content: counter(custom-counter) " ";
  background-color: rgba(255, 255, 255, 0.83);
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.04));
  border-radius: 50%;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding: 20px;
  aspect-ratio: 1;
  min-width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */